{{!-- Header --}}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="/img/logo.png" width="34" height="40">
    </a>

    <div class="navbar-item">
      Whack-A-Bug
    </div>
    {{!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> --}}
  </div>
  <div class="navbar-end navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      My Profile
    </a>

    <div class="navbar-dropdown">
      <a class="navbar-item">
        Settings
      </a>
      <a class="navbar-item">
        Contact
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item">
        Log Out
      </a>
    </div>
  </div>
  {{!-- <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light">
          My Account
        </a>
      </div>
    </div>
  </div> --}}
  </div>
</nav>

{{!-- Play Button --}}
<div class="columns is-mobile has-text-centered">
  <div class="column">
    <a class="button is-primary" id="playbtn">PLAY NEW GAME!</a>
  </div>
</div>


{{!-- Leaderboards --}}
<div class="columns is-mobile is-centered" id="landing-page-container">
  <div class="column leaderboard is-narrow">
    PERSONAL BEST
    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th>Level (Difficulty)</th>
            <th>Score (Sec)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Easy</td>
            <td>10.5</td>
          </tr>
          <tr>
            <td>Medium</td>
            <td>20.2</td>
          </tr>
          <tr>
            <td>Hard</td>
            <td>45.2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column leaderboard is-narrow">
    GLOBAL LEADERBOARD
    <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Level (Difficulty)</th>
            <th>Score (Sec)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Barack Obama</td>
            <td>Easy</td>
            <td>12.4</td>
          </tr>
          <tr>
            <td>George Lucas</td>
            <td>Easy</td>
            <td>19.4</td>
          </tr>
          <tr>
            <td>Prince</td>
            <td>Easy</td>
            <td>52.2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


{{!-- Footer --}}
<div class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Whack-A-Mole</strong> by <a href="https://jgthms.com">ERA</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</div>