<h2>Hit the lit circles!</h2>


{{!-- loop through cols in a loop through rows --}}
<div id="row">
    <div class="col">
        <img id="0" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="1" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="2" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="3" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="4" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
    </div>
    <div class="col">
        <img id="5" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="6" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="7" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="8" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="9" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
    </div>
    <div class="col">
        <img id="10" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="11" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="12" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="13" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="14" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
    </div>
    <div class="col">
        <img id="15" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="16" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="17" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="18" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="19" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
    </div>
    <div class="col">
        <img id="20" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="21" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="22" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="23" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
        <img id="24" class="circle" data-lit="false" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ski_trail_rating_symbol_red_circle.png">
    </div>
</div>

<script src="/js/game.js"></script>