{{!-- Header --}}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="/img/logo.png" width="34" height="40">
    </a>

    <div class="navbar-item">
      Whack-A-Bug
    </div>
    {{!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> --}}
  </div>
  <div class="navbar-end navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      My Profile
    </a>

    <div class="navbar-dropdown">
      <a class="navbar-item">
        Settings
      </a>
      <a class="navbar-item">
        Contact
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item">
        Log Out
      </a>
    </div>
  </div>
  {{!-- <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light">
          My Account
        </a>
      </div>
    </div>
  </div> --}}
  </div>
</nav>

{{!-- Gameplay Box --}}

<div class="columns is-mobile" id="gamebox-container">
    <div class="column" id="gamebox">
        GAMEBOX
    </div>
</div>
