<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="/img/logo.png" alt="Logo">
            </a>
            <div class="navbar-item">
              Whack-A-Mole
            </div>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <a class="button is-white is-outlined">
                  <span>Login</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
            WHACK-A-BUG
          </h1>
          <h2 class="subtitle">
            Stressed? Frustrated? Let it out and Whack-A-Bug
          </h2>
          <div class="box columns">
            <div class="column">
              <div class="buttons">
                <a class="button is-primary is-medium">
                  CREATE AN ACCOUNT
                </a>
              </div>
            </div>
            <div class="column">
              <div class="buttons">
                <a class="button is-primary is-medium">
                  LOG IN AND PLAY
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>


{{!-- Footer --}}
<div class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Whack-A-Mole</strong> by <a href="https://jgthms.com">ERA</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</div>