<body>
  <section class="hero is-info is-fullheight">
    
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
            WHACK-A-BUG
          </h1>
          <h2 class="subtitle">
            Stressed? Frustrated? Let it out and Whack-A-Bug
          </h2>
          <div class="box columns has-text-centered">
            <div class="column">
              <div class="homepage-buttons">
                <a class="button is-primary is-medium">
                  CREATE AN ACCOUNT
                </a>
              </div>
            </div>
            <div class="column">
              <div class="home-pagebuttons">
                <a class="button is-primary is-medium">
                  LOG IN AND PLAY
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </section>
  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>


{{!-- Footer --}}
<div class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Whack-A-Mole</strong> by <a href="https://jgthms.com">ERA</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</div>
