.list-group-item {
  line-height: 2.5;
}

.circle {
  width: 100px;
  /* filter: hue-rotate(120deg); 240deg = blue, 120deg = green */
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .circle {
    width: 70px;
  }
}

@media screen and (max-width: 600px) {
  .circle {
    width: 50px;
  }
}
